/* signup page css */

.Container {
  background: linear-gradient(rgb(0, 15, 182) 100%, rgb(255, 255, 255) 0%);
  opacity:0.7;
}

.Signup_form {
  font-family: ' Arial, Helvetica, sans-serif, Courier New', Courier, monospace,;
  font-size: 1.3rem;
  background: linear-gradient(rgb(0, 15, 182) 100%, rgb(255, 255, 255) 0%);
  opacity:0.7;  
  text-align: left;    
  color: white;
}

.btn_form {
  font-family: ' Arial, Helvetica, sans-serif, Courier New', Courier, monospace,;
  font-size: 1.3rem;
  text-align: center;
  
}

.btn_form_1 {
  font-family: 'Arial, Helvetica, sans-serif, Courier New', Courier, monospace,;
  font-size: 1.3rem;
  text-align: center;
  
}

.Signup_result_table{
  font-family: ' Arial, Helvetica, sans-serif, Courier New', Courier, monospace,;
  font-size: 1.1rem;
  text-align: center;
  
}

.sign_up_line{
  font-family: ' Arial, Helvetica, sans-serif, Courier New', Courier, monospace,;
  font-size: 1.4rem;
  color: white;  
  text-align: center;    
}